.tornado {
    position: absolute;
    display: grid;
    width: 15vh;
    height: 15vh;
    grid-template-columns: repeat(3, 5vh);
    grid-template-rows: repeat(3, 5vh);
    row-gap: .3rem;
    column-gap: .3rem;
    opacity: 0;
}

.tornado-elem {
    border-radius: 20%;
    background: indianred;
}

.tornado-1 {
    top: calc(35% - (15vh/2));
    left: calc(15% - (15vh/2));
}

.tornado-1 .tornado-elem {
    background-image: linear-gradient(135deg, hsl(54, 50%, 60%), hsl(9, 50%, 60%));
}

.tornado-2 {
    top: calc(65% + (15vh/2));
    left: calc(15% - (15vh/2));
}

.tornado-2 .tornado-elem {
    background-image: linear-gradient(135deg, hsl(88, 50%, 60%), hsl(344, 50%, 60%));
}

.tornado-3 {
    top: calc(35% - (15vh/2));
    left: calc(85% - (15vh/2));
}

.tornado-3 .tornado-elem {
    background-image: linear-gradient(135deg, hsl(310, 50%, 60%), hsl(240, 50%, 60%));
}

.tornado-4 {
    top: calc(65% + (15vh/2));
    left: calc(85% - (15vh/2));
}

.tornado-4 .tornado-elem {
    background-image: linear-gradient(135deg, hsl(211, 50%, 60%), hsl(299, 50%, 60%));
}