/* body {
    overflow: hidden;  // THIS IS EXCEPTIONAL ONLY FOR THIS LEVEL - IT PREVENTS FROM SCROLLBAR APPEARING WHEN BOARD IS CONSTANTLY ROTATING
} */

.board {
    border-radius: 10%;  
    gap: .1rem;
}

.fa-icon-6 {
    color: hsla(282, 80%, 40%, 80%);
    font-size: 1.2rem;
 }
 
 
 .t-6 { 
     border-radius: 20%;
     margin: .1rem;
     border: .3rem solid hsla(282, 80%, 40%, 15%);
     background-image: radial-gradient( hsl(52, 80%, 60%) 20%, hsl(29, 80%, 60%) 45%, hsl(282, 80%, 40%));
 }
 
 .tb-6 { 
     color: hsl(51, 94%, 53%);
 }
 
 .level-6::after, .score-6::after, .counter-6::after {
    content: '';
    display: block;
    width: 100%;
    height: .4vh;
 }
 
 .level-6::after {
     background: hsl(282, 66%, 52%);
 }
 
 .counter-6::after  {
     background: hsl(344, 66%, 42%);
 }
 
 .score-6::after {
     background:hsl(52, 66%, 52%);
 }
 
 .level-6 {
     color: hsl(282, 66%, 62%);
 }
 
 .counter-6 {
     color: hsl(344, 66%, 52%);
 }
 
 .score-6 {
     color: hsl(52, 66%, 62%);
 }
 