.bg-3 {
   //background-image: linear-gradient(135deg, hsl(0, 0%, 20%), hsl(0, 63%, 48%), hsl(0, 66%, 32%), hsl(0, 63%, 48%), hsl(0, 0%, 20%));
   //background-image: radial-gradient(hsla(188, 35%, 70%, .7), hsla(255, 20%, 40%, .6));
   background-color: hsla(122, 35%, 70%);
   background-image: repeating-linear-gradient(210deg,  hsla(252, 50%, 40%, .8), hsla(142, 80%, 30%, .8), hsla(177, 50%, 40%, .8), hsla(142, 80%, 30%, .8), hsla(252, 50%, 40%, .8));
   filter:contrast(80%);
}