.board-3 {
    gap: 0rem;
}

.fa-icon-3 {
    font-size: 1.4rem;
    filter: contrast(120%) saturate(120%); 
}

.fa-icon-3:nth-of-type(n) {
    color: hsla(252, 50%, 40%, .6);
}

.fa-icon-3:nth-of-type(2n) {
    color: hsla(12, 50%, 40%, .6);
}

 
 .t-3 { 
    border: .2rem solid hsla(142, 80%, 30%, 50%);
    border: none;
    padding: .3rem;
    border-radius: 5%;
 }

.tf-3 {
    filter: saturate(10%);
}

.t-3:nth-of-type(n) {
    background-image: linear-gradient(90deg, hsla(142, 80%, 30%, .6), hsla(252, 50%, 40%, .6));
}

.t-3:nth-of-type(2n) {
    background-image: linear-gradient(90deg,  hsla(252, 50%, 40%, .6), hsla(142, 80%, 30%, .6));
}
 
 
 .level-3, .counter-3, .score-3 {
    text-shadow: 1px 1px 2px hsl(299, 30%, 40%), 0 0 1em hsl(55, 30%, 40%), 0 0 0.5em hsl(299, 30%, 40%);
    color: hsla(142, 80%, 50%, .5);
    font-style: oblique;
 }

 
