/*If at any level tiles look weird, add this to its level based tile class
    margin: .5rem;
    border-radius: 10%;
*/

/* .summary { -> no clue if it's useful anywhere (?)
    width: 6rem;
    height: 2rem;
    color: #222;
    background: hsl(125, 50%, 50%)
}
 */

$fontScale: 1.8;
$gameDetails_fontSize: 1.8rem;
$gameDetails_paddingTop: 2rem;
$gameDetails_paddingBottom: 2.4rem;

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-color:hsl(0, 0%, 0%);
}

button:hover, .tile:hover {
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0; left: 0;
    background-color: #000;
    width: 100%;
    min-height: 100%;
    z-index: 0;
}

.game {
    @include flexBox;
    min-height: calc(100vh - ($fontScale * ($gameDetails_paddingTop + $gameDetails_paddingBottom)));
}

.board {
    display: grid;
}



.animationContainer, .firstPlanContainer, .secondPlanContainer {
    position: absolute; top: 0; left: 0;
    min-height: 100%;
    width: 100%;
    pointer-events: none;
}

.animationContainer {
    z-index: 400;
    //background: blue;
}

.details-item, .board {
    z-index: 300;
    //background-color: yellowgreen;
}

.firstPlanContainer {
    z-index: 200;
    //background-color: violet;
}

.secondPlanContainer {
    z-index: 100;
    //background-color: #000;
}

.tile {
    @include flexBox;
    transform-style: preserve-3d;
}

.tile-front {
    backface-visibility: hidden;
}

.tile-back {
    height: 100%;
    width: 100%;
    @include flexBox;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
 

/* GAME DETAILS - UPPER LABEL AT THE TOP OF EVERY LEVEL */

.game-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $gameDetails_paddingTop 0 $gameDetails_paddingBottom 0;
    font-size: $gameDetails_fontSize; // let's keep the default font-size for game-details topside bar
}

.details-item {
    letter-spacing: .1rem;
    user-select: none;
}

.svg-inline, path, svg {
    pointer-events: none;
    overflow: hidden;
}

/* Win level animation elems */

.win-el { // - not sure where it's used
    position: absolute;
    height: 100%;
    top: 0%;
    background:hsl(2, 0%, 0%);
}