.confirmation-bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6666666667);
    z-index: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-box {
    min-width: 40%;
}

.confirm {
    border-radius: 10%;
    box-shadow: 0.2rem 0.2rem 2rem #111, inset 0.2rem 0.2rem 2rem #111;
    background-image: linear-gradient(135deg, #222, rgba(51, 51, 51, 0.8666666667), #222);
    padding: 2rem 3rem 1rem 3rem;
}

.confirm-win {
    color: hsl(111, 40%, 50%);
}

.confirm-lost {
    color: hsl(11, 40%, 50%);
    padding-bottom: 2em;
}

/*  1  */
.confirm__info {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    place-items: center;
}

.info-title {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 750;
    padding: 0.5em;
    padding-top: 0;
    margin-bottom: 0.2em;
    letter-spacing: 0.15rem;
}

.info-title-win {
    border-bottom: 0.1rem dashed hsl(111, 30%, 40%);
}

.info-title-lost {
    border-bottom: 0.1rem dashed hsl(11, 30%, 40%);
}

.info-param {
    width: 90%;
    font-size: 1.1rem;
    margin: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.param-name {
    justify-self: flex-start;
}

.param-value {
    justify-self: flex-end;
}

.info-highscore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.3em;
    margin-top: 0.9em;
}

.highscore-name, .highscore-value {
    color: hsl(49, 45%, 50%) !important;
    margin: 0 0.8em;
}

.info-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

/*  2  */
.action {
    margin-top: 1.2em;
}
.action:hover {
    cursor: pointer;
}

.action_container {
    font-size: 1.3rem;
}

.action_container--win {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_container--lost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    justify-content: space-around;
}

.win-btn, .lost-btn {
    width: 50%;
    border-radius: 10%;
    box-shadow: 0.2rem 0.2rem 2rem #111, inset 0.2rem 0.2rem 2rem #111;
    background-image: linear-gradient(135deg, #222, rgba(51, 51, 51, 0.8666666667), #222);
    padding: 1rem 3rem 1rem 3rem;
    font-weight: 600;
    flex-wrap: nowrap;
}

.win-btn {
    color: hsl(111, 40%, 50%);
}

.lost-btn {
    color: hsl(11, 40%, 50%);
}