.background-win {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background: #000;
    background-image: linear-gradient(135deg, hsl(0, 0%, 0%), hsl(0, 0%, 0%),  hsla(276, 30%, 30%, .65), hsl(0, 0%, 0%), hsl(0, 0%, 0%));
}

/* 1 */

.main-win {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-win {
    display: flex;
    justify-content: center;
}

.heading-cube {
    width: 5rem; 
    height: 5rem;
    max-width: 6vw;
    color:darkblue;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text {
    background: -webkit-linear-gradient(90deg, hsla(126, 67%, 45%, 0.95), hsla(188, 50%, 60%, .85), hsla(126, 59%, 34%, 0.85));
    filter:  saturate(170%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px -4px 4px hsla(277, 60%, 60%, 0.8);

    font-weight: 700;
    z-index: 50;
    transform: rotateX(-20deg) rotateY(-15deg);
}

.cube-border {
    width: 100%;
    height: 100%;
    background: conic-gradient(
        #fd004ccc,
        #fe9000cc,
        #fff020cc,
        #3edf4b99,
        #3363ffcc, 
        #b102b799,
        #fd004ccc
    );
}

.cube-content {
    width: 4rem;
    height: 4rem;
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
   /*  background: linear-gradient(66deg, hsl(24, 40%, 60%), hsl(277, 40%, 60%)); */
    color:darkorange;
    
    z-index: 50;
    transform: rotateX(-20deg) rotateY(-15deg);
    /* border: hsl(126, 40%, 60%) dashed .1rem; */
    border-radius: 20% 5%;
    box-shadow: -13px 13px 10px 0px hsla(277, 30%, 40%, 0.85);
    -webkit-box-shadow: -13px 13px 10px 0px hsla(277, 30%, 40%, 0.85);
    -moz-box-shadow: -13px 13px 10px 0px hsla(277, 30%, 40%, 0.85);

    overflow: hidden;

    animation: hRotate 16s infinite linear;
}

.cube-content::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 100%; height: 100%;
    top: 0%; right: 0%;
    z-index: -120;
/*     transform: rotateX(-20deg) rotateY(-15deg);
    border: hsl(274, 40%, 60%) solid .3rem;
    filter: blur(3px); */
    background: conic-gradient(
        #fd004ccc,
        #fe9000cc,
        #fff020cc,
        #3edf4bcc,
        #3363ffcc, 
        #b102b7cc,
        #fd004ccc
    );
    animation: spin 16s infinite linear;
}

.cube-content::after {
    content: '';
    display: block;
    position: absolute;
    background:  #000;
    width: 80%; height: 80%;
    top: 10%; right: 10%;
}

@keyframes hRotate {
    0% {
        box-shadow: -13px 13px 10px 0px #fd004c77;
        transform: rotateY(0deg);
    }
    14% {
        box-shadow: -16px 16px 10px 0px #fe900077;
        transform: rotateY(10deg);
    }
    28% {
        box-shadow: -19px 19px 10px 0px #fff02077;
        transform: rotateY(20deg);
    }
    42% {
        box-shadow: -22px 22px 10px 0px #3edf4b77;
        transform: rotateY(30deg);
    }
    56% {
        box-shadow: -19px 19px 10px 0px #3363ff77;
        transform: rotateY(20deg);
    }
    70% {
        box-shadow: -16px 16px 10px 0px #b102b777;
        transform: rotateY(10deg);
    }
    84% {
        box-shadow: -13px 13px 10px 0px #fd00a977;
        transform: rotateY(0deg);
    }
    100% {
        box-shadow: -13px 13px 10px 0px #fd004c77;
        transform: rotateY(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(-360deg);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        filter: hue-rotate(0deg);
    }
}

.love-btn {
    width: 5rem;
    height: 3rem;
    background: violet;
}



/* 2 */

.summary-win {
    max-width: 60%;
    margin: 0 20%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-text, .q-letter {
    font-size: 1.5rem;
    opacity: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: -webkit-linear-gradient(90deg, hsla(126, 20%, 20%, 0.95), hsla(276, 50%, 60%, .85), hsla(126, 25%, 24%, 0.85));
    filter:  saturate(170%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px -4px 4px hsla(222, 40%, 40%, 0.8);
}


/* 3 */

.stats-table-win {
    opacity: 0;
    position: absolute;
    margin: 2rem 0;
    padding: 1.3rem 0rem;
    width: 40%;
    min-width: 25%;
    left: 30%;
    border-radius: 25%;
   /*  background-image: linear-gradient(90deg, hsla(126, 0%, 0%, 1), hsla(276, 50%, 60%, .85) 50%, hsla(126, 0%, 0%, 1)); */
    border: .5rem double hsla(277, 39%, 34%, 0.85);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
}

.stats-value::after, .stats-text::before {
    content: '';
    display: block;
    width:80%;
    top: 90%;
    position: absolute;
    height: .2rem;
    background-image: linear-gradient(90deg, hsla(126, 0%, 0%, 0.95), hsla(276, 50%, 60%, .85), hsla(126, 0%, 0%, 0.85));
    border-radius: 20%;
}

.stats-value::after{
    width:50%;
}

.stats-text, .stats-value {
    opacity: 0;
    background: -webkit-linear-gradient(90deg, hsla(126, 20%, 20%, 0.95), hsla(276, 50%, 60%, .85), hsla(126, 25%, 24%, 0.85));
    filter:  saturate(170%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px -4px 4px hsla(276, 40%, 40%, 0.8);  
}

.stats-text {
    padding: .8rem 1rem;
    font-size: 1.3rem;
}

.stats-value {
    padding: .8rem 1rem;
    font-size: 1.3rem;
}

.gg-btn {
    opacity: 0;
    margin: 1.2rem;
    padding: .4rem;
    width: 6rem;
    height: 2.4rem;
    /* background-image: linear-gradient(70deg,hsla(126, 0%, 0%, 0.95), hsla(276, 30%, 30%, 0), hsla(126, 0%, 0%, 0.85)); */
    background: inherit;
    border: .2rem double hsla(276, 40%, 40%, 1);
    border-radius: 20%;
    font-weight: 650;
    font-style: oblique;
    overflow: hidden;
    color:'hsla(276, 40%, 50%, .9)';
}