#root { /* SELECTOR :root IS NOT PURE (PURE SELECTORS MUST CONTAIN AT LEAST 1 CLASS OR ID)*/
    --lightness: 50%;
    --A: hsl(0, 100%, 50%);
        --A1: hsl(10, 100%, 50%);
        --A2: hsl(15, 100%, 50%);
        --A3: hsl(20, 100%, 50%);
    --B: hsl(30, 100%, 50%);
        --B1: hsl(40, 100%, 50%);
        --B2: hsl(45, 100%, 50%);
        --B3: hsl(50, 100%, 50%);
    --C: hsl(60, 100%, 50%);
        --C1: hsl(75, 100%, 50%);
        --C2: hsl(90, 100%, 50%);
        --C3: hsl(105, 100%, 50%);
    --D: hsl(120, 100%, 50%);
        --D1: hsl(150, 100%, 50%);
        --D2: hsl(180, 100%, 50%);
        --D3: hsl(210, 100%, 50%);
    --E: hsl(240, 100%, 50%);
        --E1: hsl(250, 100%, 50%);
        --E2: hsl(260, 100%, 50%);
        --E3: hsl(270, 100%, 50%);
    --F: hsl(275, 100%, 25%);
    --G: hsl(280, 100%, 50%);
        --G1: hsl(295, 100%, 50%);
        --G2: hsl(310, 100%, 50%);
        --G3: hsl(325, 100%, 50%);

    /* BASIC COLORS:  6 */
    /* ALTERNATIVES: 18 */
    /* TOTAL COLORS: 24 */
}

#h1 { /* SELECTOR h1 IS NOT PURE (PURE SELECTORS MUST CONTAIN AT LEAST 1 CLASS OR ID)*/
    color: #ffcb22;
}

.landing-all {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0%;
    width: 0%;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
    z-index: 100;
    background: #000f;
    background-image: radial-gradient(hsl(46, 40%, 57%), hsl(0, 20%, 10%), hsl(0, 10%, 10%), hsl(0, 0%, 0%));
}

.theme {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 9rem);
    grid-template-rows: repeat(4, 9rem);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .2rem solid #ffcb22;
    margin: .5rem;
    border-radius: 10%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front {
    background: hsl(0, 0%, 0%);
    backface-visibility: hidden;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: hsl(210, 50%, 80%);
}

.card-back svg {
    font-size: 3.4rem;
}

.icon {
    color: hsl(0, 0%, 100%);
}

.content {
    background: radial-gradient(#000, #0008 20%, #000 70%);
    border: .2rem solid hsla(46, 100%, 57%, 0.4);
    border-radius: 10%;
    width: 40vw;
    height: 40vh;
    position: absolute; top: 30vh; left: 30vw;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 6px rgba(255,201,24,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 6px #ffc918b3;
    z-index: 200;
}

.content::before {
    content: 'ver. \ 1.0.0';
    font-size: 1.4rem;
    display: block;
    position: absolute;  top: -.4rem; left: -.4rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #ffae18;
    border-radius: 50%;
    background: #000;
    color: #ffcb2299;
    -webkit-box-shadow: -14px -10px 13px 5px #FFC518; 
    box-shadow: -14px -10px 13px 5px #FFC518;
    -webkit-box-shadow: -5px -7px 13px 20px rgba(255,197,24,0.6); 
    box-shadow: -5px -7px 13px 20px rgba(255,197,24,0.6);
}

.content-section {
    padding: 1.4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content-action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.from-author {
    color: #ffcb22aa;
    font-weight: 500;
    font-style: italic;
    font-size: 1.3rem;
    position: absolute;
    top: 10%;
}

.from-author::after {
    content: '';
    display: block;
    position: absolute;
    top:10%; left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(135deg, #000, #000, #000);
    box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    -webkit-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    z-index: -40;
}

/* .from-author::before {
    content: '';
    display: block;
    position: absolute;
    top:0%; left: 0%;
    width: 100%;
    height: 100%;
     border: .2rem dashed #ffcb2255; 
    border-style:groove;
    border-radius: 30%;
}
 */
.start {
    background: linear-gradient(135deg, hsl(46, 4%, 2%), hsl(46, 94%, 42%), hsl(46, 4%, 2%));
    position: absolute;
    top: 40%;
    height: 20%;
    left: 35%; 
    width: 30%;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 33%;
    border: .2rem double hsl(46, 94%, 42%);
    box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5);
}

.start:hover {
    cursor: pointer;
}

.start::after {
    content: '';
    display: block;

}

.game-title {
    margin-bottom: 1.3rem;
    color: #ffcb22ee;
    background: hsla(0, 0%, 0%, 1);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-subtitle {
    color: #ffcb22cc;
    background: hsla(0, 0%, 0%, .9);
    font-size: 1.3rem;
    font-weight: 550;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9); 
}

.game-title::after {
    content: '';
    display: block;
    width: 100%;
    border: .1rem solid #ffcb2277;
    background: linear-gradient(to right, #000, #ffcb2277, #ffcb2277, #000);
}

.fa-icon {
    color: #fffb;
    font-size: 1.2rem;
}

@media screen and (min-width: 340px) and (max-width: 768px) and (orientation: landscape) {
    .game-title{
        font-size: 1.8rem; /* M = Modified, so keep those and do not remove*/
        letter-spacing: .2rem; /* M */
    }

    .theme {
        grid-template-columns: repeat(21, 1.9rem); /* M */
        grid-template-rows: repeat(10, 1.9rem); /* M */
    }

    .card {
        margin: .5rem;
        padding: .5rem; /* M */
    }

    .fa-icon {
        font-size: .7rem; /* M */
    }

    .content {
        width: 60vw; /* M */
        height: 50vh; /* M */
        position: absolute; top: 25vh; left: 20vw; /* M */
    }

    .content::before {
        content: 'ver. \ 1.0.0'; /* M */
        color: #ffcb2277;
        font-size: 1.2rem; /* M */
        -webkit-box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
        box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
    }

    .content-section {
        padding: .5rem; /* M */
    }
    
    .from-author {
        font-size: 1rem; /* M */
        top: 5%;
    }
    
    .start {
        top: 30%; /* M */
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
    }
    
    .game-subtitle {
        font-size: 1.2rem; /* M */
        box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -webkit-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -moz-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9);  /* M */
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) and (orientation: landscape) { 
    .game-title{
        font-size: 1.8rem; /* M = Modified, so keep those and do not remove*/
        letter-spacing: .2rem; /* M */
    }

    .theme {
        grid-template-columns: repeat(21, 2.3rem); /* M */ /* M */
        grid-template-rows: repeat(10, 2.3rem); /* M */ /* M */
    }

    .card {
        margin: .5rem;
        padding: .7rem; /* M */ /* M */
    }

    .fa-icon {
        font-size: .7rem; /* M */
    }

    .content {
        width: 50vw; /* M */ /* M */
        height: 50vh; /* M */
        position: absolute; top: 25vh; left: 25vw; /* M */ /* M */
    }

    .content::before {
        content: 'ver. \ 1.0.0'; /* M */
        color: #ffcb2277;
        font-size: 1.2rem; /* M */
        -webkit-box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
        box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
    }

    .content-section {
        padding: .5rem; /* M */
    }
    
    .from-author {
        font-size: 1rem; /* M */
        top: 5%;
    }
    
    .start {
        top: 30%; /* M */
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
    }
    
    .game-subtitle {
        font-size: 1.2rem; /* M */
        box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -webkit-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -moz-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9);  /* M */
    }
}

@media screen and (min-width: 981px) and (max-width: 900px /* WAS 1240px*/) and (orientation: landscape) {
    .theme {
        grid-template-columns: repeat(21, 3rem); /* M */ /* M */ /* M */
        grid-template-rows: repeat(10, 3rem); /* M */ /* M */ /* M */
    }

    .card {
        margin: .5rem;
        padding: .9rem; /* M */ /* M */
    }

    .content {
        width: 50vw; /* M */ /* M */
        height: 36vh; /* M */
        position: absolute; top: 32vh; left: 25vw; /* M */ /* M */
    }

    .start {
        top: 30%; /* M */
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); /* M */
    }
}
