@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

#root { /* SELECTOR :root IS NOT PURE (PURE SELECTORS MUST CONTAIN AT LEAST 1 CLASS OR ID)*/
    --lightness: 50%;
    --A: hsl(0, 100%, 50%);
        --A1: hsl(10, 100%, 50%);
        --A2: hsl(15, 100%, 50%);
        --A3: hsl(20, 100%, 50%);
    --B: hsl(30, 100%, 50%);
        --B1: hsl(40, 100%, 50%);
        --B2: hsl(45, 100%, 50%);
        --B3: hsl(50, 100%, 50%);
    --C: hsl(60, 100%, 50%);
        --C1: hsl(75, 100%, 50%);
        --C2: hsl(90, 100%, 50%);
        --C3: hsl(105, 100%, 50%);
    --D: hsl(120, 100%, 50%);
        --D1: hsl(150, 100%, 50%);
        --D2: hsl(180, 100%, 50%);
        --D3: hsl(210, 100%, 50%);
    --E: hsl(240, 100%, 50%);
        --E1: hsl(250, 100%, 50%);
        --E2: hsl(260, 100%, 50%);
        --E3: hsl(270, 100%, 50%);
    --F: hsl(275, 100%, 25%);
    --G: hsl(280, 100%, 50%);
        --G1: hsl(295, 100%, 50%);
        --G2: hsl(310, 100%, 50%);
        --G3: hsl(325, 100%, 50%);

    /* BASIC COLORS:  6 */
    /* ALTERNATIVES: 18 */
    /* TOTAL COLORS: 24 */
}

#root {
    margin: 0;
    padding: 0;
}

#h1 { /* SELECTOR h1 IS NOT PURE (PURE SELECTORS MUST CONTAIN AT LEAST 1 CLASS OR ID)*/
    color: #ffcb22;
}

.landing-all {
    width: 100vw;
    min-height: 100vh;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
    z-index: 100;
    background: #000f;
    background-image: radial-gradient(hsl(46, 40%, 57%), hsl(0, 20%, 10%), hsl(0, 10%, 10%), hsl(0, 0%, 0%));
}

.theme {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 9rem);
    grid-template-rows: repeat(4, 9rem);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .2rem solid #ffcb22;
    margin: .5rem;
    border-radius: 10%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front {
    background: hsl(0, 0%, 0%);
    backface-visibility: hidden;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: hsl(210, 50%, 80%);
}

.card-back svg {
    font-size: 3.4rem;
}

.icon {
    color: hsl(0, 0%, 100%);
}

.content {
    /* background: radial-gradient(#000, #0008 20%, #000 70%); */
/*     background: linear-gradient(#eee, #eee8 20%, #eee 70%);
 */ 
    font-size: 1rem;
    backdrop-filter: blur(10px) hue-rotate(60deg);
    
    border: .2em dobule #222;
    padding: 1em 2em;
    border-radius: 10%;
    width: 50vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
/*     position: absolute; top: 30vh; left: 20vw;
 */    -webkit-box-shadow: 0px .75rem 1rem -.5rem #333, 0px 0px 1rem .4rem #eeec; 
    box-shadow: 0px 0rem 1rem -.5rem #333, 0px 0px 1rem .4rem #eeec, inset 0 0 .25rem .35rem #444;
    z-index: 5;  /* Keep it at low value, less than 10 for sure ! (because of user tab)*/
    /* color: hotpink; */
    /* filter:brightness(80%); */
}

.content::before {
    content: '★';
    font-size: 2rem;
    color: #fed90f;
    position: absolute;  top: -.4rem; left: -.4rem;
    width: 4rem;
    height: 4rem;
    border: .2rem double #fed90f;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 .4em .3em #eeec, inset 0 0 .2em .15em #222c; 
    box-shadow: 0 0 .4em .3em #eeec, inset 0 0 .2em .15em #222c;
    background: radial-gradient(#aaaa, #8888);
    filter: brightness(90%);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section {
    padding: 1.4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content-action {
    /*#ff00d2, #fed90f*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    -webkit-text-stroke: .03em #777;
    stroke: .03em #777;
    text-shadow: .05em .05em .2em #ddd, 0 0 .6em #ccc, 0 0 .2em #000;
    filter: brightness(90%);
/*     position: absolute;
    height: 100%;
    width: 100%; */
}

.from-author {
    /* color: #ffcb22aa; */
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    padding: .75em 0 2em 0;
    margin: 0 1em;
    text-align: center;
/*     position: absolute;
    top: 10%; */
}

/* .from-author::after {
    content: '';
    display: block;
    position: absolute;
    top:10%; left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(135deg, #000, #000, #000);
    box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    -webkit-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.95);
    z-index: -40;
} */

/* .from-author::before {
    content: '';
    display: block;
    position: absolute;
    top:0%; left: 0%;
    width: 100%;
    height: 100%;
     border: .2rem dashed #ffcb2255; 
    border-style:groove;
    border-radius: 30%;
}
 */

.setup-container {
    box-sizing: border-box;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    box-shadow: inset 0 0 .3em .5em #bbb;
    color: #888;
    border: .2em solid #999;
    border-left: none;
    border-right: none;
    margin-left: -.5em;
    margin-top: .5em;
}

.setup-container:hover {
    cursor: pointer;
}

.start {
/*     background: linear-gradient(135deg, hsl(46, 4%, 2%), hsl(46, 94%, 42%), hsl(46, 4%, 2%));
 */ 
    background: radial-gradient(#888, #ddd);
/*     position: absolute;
    top: 40%;
    height: 20%;
    left: 35%; 
    width: 30%; */
    -webkit-text-stroke: .03em #ddd;
    stroke: .03em #ddd;
    color: #222;
    font-size: 1.5rem;
    font-weight: 750;
    padding: .5em 1.5em;
    min-width: 30%;
    margin-bottom: -2em;
    border-radius: 33%;
    border: .2rem double #999c;
    -webkit-box-shadow: 0px 0rem .5rem -.25rem #333, 0px 0px .5rem .2rem #eeec; 
    box-shadow: 0px 0rem .5rem -.25rem #333, 0px 0px .5rem .2rem #eeec, inset 0 0 .5rem .7rem #4444;
/*     box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -17px 5px 16px rgba(0,0,0,0.5); */
}

.start:hover {
    cursor: pointer;
}

.start::after {
    content: '';
    display: block;

}

.game-title {
    margin-bottom: 1.3rem;
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Kaushan Script', sans-serif;
    letter-spacing: .3em;
    color: #000;
    background-clip: text;
    background-image: linear-gradient(to right, #ff00d2, #fed90f);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1.25em / 16);
    text-shadow:  0 0 .2em .4em #0006;
}

.game-subtitle {
    /* color: #ffcb22cc; */
    /* background: hsla(0, 0%, 0%, .9); */
    font-size: 1.3rem;
    font-weight: 550;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*     box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.9);  */
}

.game-title::after {
    content: '';
    display: block;
    width: 100%;
    /* border: .1rem solid #ffcb2277; */
    background: linear-gradient(to right, #ff00d2, #fed90f);
    padding: .1rem 0;
    transform: skewX(40deg);
}

.fa-icon {
    color: #fffb;
    font-size: 1.2rem;
}

@media screen and (min-width: 340px) and (max-width: 768px) and (orientation: landscape) {
    .game-title{
        font-size: 1.8rem; /* M = Modified, so keep those and do not remove*/
        letter-spacing: .2rem; /* M */
    }

    .theme {
        grid-template-columns: repeat(21, 1.9rem); /* M */
        grid-template-rows: repeat(10, 1.9rem); /* M */
    }

    .card {
        margin: .5rem;
        padding: .5rem; /* M */
    }

    .fa-icon {
        font-size: .7rem; /* M */
    }

/*     .content {
        width: 60vw; 
        height: 50vh; 
        position: absolute; top: 25vh; left: 20vw; 
    } */

    .content::before {
        content: 'ver. \ 1.0.0'; /* M */
        color: #ffcb2277;
        font-size: 1.2rem; /* M */
        -webkit-box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
        box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
    }

    .content-section {
        padding: .5rem; /* M */
    }
    
    .from-author {
        font-size: 1rem; /* M */
        top: 5%;
    }
    
/*     .start {
        top: 30%;
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); 
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5);
    } */
    
    .game-subtitle {
        font-size: 1.2rem; /* M */
/*         box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); 
        -webkit-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); 
        -moz-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9);   */
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) and (orientation: landscape) { 
    .game-title{
        font-size: 1.8rem; /* M = Modified, so keep those and do not remove*/
        letter-spacing: .2rem; /* M */
    }

    .theme {
        grid-template-columns: repeat(21, 2.3rem); /* M */ /* M */
        grid-template-rows: repeat(10, 2.3rem); /* M */ /* M */
    }

    .card {
        margin: .5rem;
        padding: .7rem; /* M */ /* M */
    }

    .fa-icon {
        font-size: .7rem; /* M */
    }

/*     .content {
        width: 50vw; 
        height: 50vh; 
        position: absolute; top: 25vh; left: 25vw;
    } */

    .content::before {
        content: 'ver. \ 1.0.0'; /* M */
        color: #ffcb2277;
        font-size: 1.2rem; /* M */
        -webkit-box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
        box-shadow: -2px -3px 9px 12px rgba(255,197,24,0.6);  /* M */
    }

    .content-section {
        padding: .5rem; /* M */
    }
    
    .from-author {
        font-size: 1rem; /* M */
        top: 5%;
    }
    
/*     .start {
        top: 30%;
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); 
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); 
    } */
    
    .game-subtitle {
        font-size: 1.2rem; /* M */
        box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -webkit-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9); /* M */
        -moz-box-shadow: 0px -8px 6px 8px rgba(0,0,0,0.9);  /* M */
    }
}

@media screen and (min-width: 981px) and (max-width: 900px /* WAS 1240px*/) and (orientation: landscape) {
    .theme {
        grid-template-columns: repeat(21, 3rem); /* M */ /* M */ /* M */
        grid-template-rows: repeat(10, 3rem); /* M */ /* M */ /* M */
    }

    .card {
        margin: .5rem;
        padding: .9rem; /* M */ /* M */
    }

/*     .content {
        width: 50vw; 
        height: 36vh;
        position: absolute; top: 32vh; left: 25vw; 
    } */

/*     .start {
        top: 30%;
        box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); 
        -moz-box-shadow: 0px -10px 5px 10px rgba(0,0,0,0.5); 
    } */
}

/* V2 Landing page */

.icons-main {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    /* background: pink; */
}

@keyframes changeHue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.icons-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    filter: brightness(110%);
/*     overflow: hidden; */
    /* transform: rotate(15deg); */
}

.move-box {
    width: 100%;
    height: 100vh;
    background: #111;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: changeHue 32s linear infinite alternate;
}

.move-box__row {
    font-size: 2rem;
    position: relative;
    top: -50%;
    width: 100%;
    white-space: nowrap;
    /* place-items: center; */
    display: flex;
    justify-content: space-evenly;
    transform: rotate(10deg);
    padding: .4rem 0;
}

.fancy-icon {
    font-size: 4rem;
    padding-top: .2em;
    padding-left: .2em;
    padding-right: .2em;
    color: hsla(0, 0%, 0%, 0.5);
    /* background-image: radial-gradient(#fff1, #5551); */
    border-radius: 777px;
    filter: hue-rotate(60deg);
    /* padding: 25%; */
    padding: initial .3em;
    transition: 1.25s;
    user-select: none;
    cursor: default;
    /* filter: brightness(140%); */
}

.fancy-icon:hover {
    filter: drop-shadow(3px 5px 2px #ccc);
    /* color: hsla(288, 45%, 72%, .6); */
    color: #3339;
    box-shadow: /* 1px 1px 4px #000, */ 0 0 1em #eee, 0 0 0.2em #777, inset 0 0 1em #ddd;
   /*  border-radius: 50%; */
    padding-left: .8rem;
    padding-right: .8rem;
    scale: .9;
/*     background: radial-gradient(hsl(288, 45%, 72%), hsla(240, 100%, 50%, .75)); */
}

.fancy-color-1 {
    filter: drop-shadow(3px 5px 8px #0ff4);
    animation: colorUp2 12s linear infinite alternate;
}

.fancy-color-2 {
    filter: drop-shadow(3px 5px 8px #ff04);
    animation: colorUp3 16s linear infinite alternate;
}

.fancy-color-3 {
    filter: drop-shadow(3px 5px 8px #0f04);
    animation: colorUp 10s linear infinite alternate;
}

.fancy-color-4 {
    filter: drop-shadow(3px 5px 8px #f0f4);
    animation: colorUp4 12s linear infinite alternate;
}

.fancy-color-5 {
    filter: drop-shadow(3px 5px 8px #f004);
    animation: colorUp5 10s linear infinite alternate;
}

@keyframes colorUp5 {
    0% {
        filter: drop-shadow(3px 5px 8px #f004);
    }
    100% {
        filter: drop-shadow(3px 5px 11px #f00);
        scale: 1.15;
    }
}

@keyframes colorUp4 {
    0% {
        filter: drop-shadow(3px 5px 8px #f0f4);
    }
    100% {
        filter: drop-shadow(3px 5px 11px #f0f);
        scale: 1.15;
    }
}

@keyframes colorUp2 {
    0% {
        filter: drop-shadow(3px 5px 8px #0ff4);
    }
    100% {
        filter: drop-shadow(3px 5px 11px #0ff);
        scale: 1.15;
    }
}

@keyframes colorUp3 {
    0% {
        filter: drop-shadow(3px 5px 8px #ff04);
    }
    100% {
        filter: drop-shadow(3px 5px 11px #ff0);
        scale: 1.15;
    }
}

@keyframes colorUp {
    0% {
        filter: drop-shadow(3px 5px 8px #0f04);
    }
    100% {
        filter: drop-shadow(3px 5px 11px #0f0);
        scale: 1.15;
    }
}

.animation-pause {
    animation-play-state: paused !important;
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
}
