:root {
    --lightness: 50%;
    --A: hsl(0, 100%, 50%);
        --A1: hsl(10, 100%, 50%);
        --A2: hsl(15, 100%, 50%);
        --A3: hsl(20, 100%, 50%);
    --B: hsl(30, 100%, 50%);
        --B1: hsl(40, 100%, 50%);
        --B2: hsl(45, 100%, 50%);
        --B3: hsl(50, 100%, 50%);
    --C: hsl(60, 100%, 50%);
        --C1: hsl(75, 100%, 50%);
        --C2: hsl(90, 100%, 50%);
        --C3: hsl(105, 100%, 50%);
    --D: hsl(120, 100%, 50%);
        --D1: hsl(150, 100%, 50%);
        --D2: hsl(180, 100%, 50%);
        --D3: hsl(210, 100%, 50%);
    --E: hsl(240, 100%, 50%);
        --E1: hsl(250, 100%, 50%);
        --E2: hsl(260, 100%, 50%);
        --E3: hsl(270, 100%, 50%);
    --F: hsl(275, 100%, 25%);
    --G: hsl(280, 100%, 50%);
        --G1: hsl(295, 100%, 50%);
        --G2: hsl(310, 100%, 50%);
        --G3: hsl(325, 100%, 50%);

    /* BASIC COLORS:  6 */
    /* ALTERNATIVES: 18 */
    /* TOTAL COLORS: 24 */
}

body {

}

h1 {
    color: #ffcb22;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    z-index: 100;
    background: #000f;
}

.theme {
    /*background-image: linear-gradient(to top right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3); CORRECT SYNTAX */ 
    position: relative;
    display: grid;
    grid-template-columns: repeat(21, 4rem);
    grid-template-rows: repeat(10, 4rem);

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .2rem solid #ffcb22;
    margin: .5rem;
    border-radius: 10%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front {
    background: hsl(0, 0%, 0%);
    backface-visibility: hidden;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: hsl(210, 50%, 80%);
}

.icon {
    color: hsl(0, 0%, 100%)
}

.content {
    background: #000f;
    border: .2rem solid #ffcb2266;
    border-radius: 10%;
    width: 20%;
    padding: 2rem;
    position: absolute; top: 33%; left: 37.5%; /* THIS VALUES ARE HARD-CODED AND SHOULD BE REPLACED WITH SOME MATH LOGICAL STUFF*/
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 6px rgba(255,201,24,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 6px #ffc918b3;
}

.content::before {
    content: '';
    display: block;
    position: absolute;  top: -.4rem; left: -.4rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #ffae18;
    border-radius: 50%;
    background: #000;
    -webkit-box-shadow: -14px -10px 13px 5px #FFC518; 
    box-shadow: -14px -10px 13px 5px #FFC518;
    -webkit-box-shadow: -5px -7px 13px 20px rgba(255,197,24,0.6); 
    box-shadow: -5px -7px 13px 20px rgba(255,197,24,0.6);
}

.start {
    padding: .4rem;
    background: #d1a207;
    margin-top: 1.3rem;
    font-size: 1.5rem;
    border-radius: 33%;
    padding: .8rem 2rem;
    border: .8rem solid #000;
}

.start::after {
    content: '';
    display: block;

}

.game-title {
    margin-bottom: 1.3rem;
    color: #ffcb22ee;
    font-size: 2rem;
    font-weight: 600;
    
}

.game-title::after {
    content: '';
    display: block;
    width: 100%;
    border: .1rem solid #ffcb2277;
    background: linear-gradient(to right, #000, #ffcb2277, #ffcb2277, #000);
}

.fa-icon {
    color: #fffb;
    font-size: 1.2rem;
}