.pause-screen {
    position: absolute;
    z-index: 220;
    top: 0%; left: 0%;
    width: 100%;
    height: 100%;
    background:mediumaquamarine;
    background: hsla(0, 0%, 0%, .8);
    filter: blur(6px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.pause-screen-icon {
    width: 20%;
    height: 20%;
    font-size: 10rem;
    color: hsla(0, 0%, 0%, .2);
}