.stats-table {
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    /* box-shadow: inset .2em .2em .1em .25em #444, .1em .1em .1em .25em #222; */
    /* padding: 2em; */
}

.stats-item {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    width: 100%;
    margin: .2em;
}

.stats-item-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-box__text {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
}

.item-box__bar--outer {
    font-size: 1rem;
    box-sizing: border-box;
    background: none;
    width: 100%;
    height: 100%;
    border: .1rem solid #444;
    border-radius: 777px;
    position: relative;
}

.item-box__bar--inner {
    position: relative;
    /* background: linear-gradient(hsla(99, 55%, 50%, .8), hsla(125, 60%, 65%, .8)); */
    width: 100%; /* WE ARE GOING TO MODIFY THIS VALUE INDIVIDUALLY BASED ON USER STATS */
    border-radius: 777px;
    height: 100%;
    /* max-height: 1rem; */
}

/* ADD SOME FANCY BARS COLOR COMBINATIONS */

.item-box__bar--inner.bar--exp {
    background: linear-gradient(0deg, hsla(125, 55%, 15%, .8), hsla(125, 60%, 65%, .8));
}

.item-box__bar--inner.bar--stars {
    background: linear-gradient(0deg, hsla(45, 55%, 15%, .8), hsla(45, 60%, 65%, .8));
}

.item-box__bar--inner.bar--levels {
    background: linear-gradient(0deg, hsla(175, 55%, 15%, .8), hsla(175, 60%, 65%, .8));
}

.item-box__bar--inner.bar--easy {
    background: linear-gradient(0deg,hsla(99, 55%, 50%, .8) 30%, hsla(125, 60%, 65%, .8));
}

.item-box__bar--inner.bar--medium {
    background: linear-gradient(0deg,hsla(45, 55%, 50%, .8) 30%, hsla(63, 60%, 65%, .8));
}

.item-box__bar--inner.bar--hard {
    background: linear-gradient(0deg,hsla(1, 55%, 50%, .8) 30%, hsla(12, 60%, 65%, .8));
}

.item-box__bar--inner.bar--insane {
    background: linear-gradient(0deg,hsla(180, 55%, 50%, .8) 30%, hsla(214, 60%, 65%, .8));
}

.item-box__bar--inner.bar--extreme {
    background: linear-gradient(0deg, hsla(277, 55%, 50%, .8) 30%, hsla(300, 60%, 65%, .8));
}

.item-box__bar--inner.bar--legend {
    background: linear-gradient(0deg, hsla(23, 55%, 50%, .8) 30%, hsla(38, 60%, 65%, .8));
}


.item-box__bar-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;  
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #eee;
    font-weight: 600;
}