/* Rework */

.showcase-serie-box {
    display: flex;
    padding: 1em;
    gap: .5em;
}

.showcase-level-box {
    width: 2em;
    height: 2em;
    background-color:hsl(128, 63%, 39%);
    color:rgb(3, 59, 107);
    font-size: 1.2rem;
    border-radius: 10%;
}

/* Old part*/
.bg-main {
    background: #000;
    position: absolute; top:0%; left: 0%;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( hsl(120, 0%, 0%) 55%, hsl(128, 81%, 20%) 70%, hsl(128, 0%, 10%) 90% );
    filter:saturate(120%)
}

.seizure-box {
    position: absolute;
    left: 25%;
    width: 50%;
}

.mode-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mode-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient( hsl(0, 0%, 0%) 50%, hsl(128, 81%, 20%), hsla(0, 0%, 0%, 0) 70%);
    margin: 2.2rem;
    padding: 1rem;
    border-radius: 40% 20% 40% 20%;
    z-index: 50;
}

.mode-block:nth-of-type(2n) {
    border-radius: 20%;
    background: none;
    border: .2rem double hsla(128, 81%, 20%, .6);
}

.mode-title {
    background: -webkit-linear-gradient(90deg, hsl(128, 64%, 38%) 60%, hsla(0, 0%, 0%, .85) 20%, hsl(128, 60%, 33%));
    filter:  saturate(75%);
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 3px hsla(122, 80%, 30%, 0.5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 650;
    font-size: 2rem;
    padding: 2rem;
}

.mode-title::before {
    content: '';
    display:  block;
    position:absolute;
    z-index: -30;
    top: 10%; left: 10%;
    width: 80%; height: 80%;
    border-radius: 50%;
    background:  linear-gradient( hsla(128, 94%, 28%, .6) 60%, hsla(0, 0%, 0%, .85) 20%, hsla(129, 88%, 19%, 0.6));
}

.mode-about {
    background: -webkit-linear-gradient(120deg, hsla(0, 0%, 0%, .35) 25%,  hsla(128, 40%, 30%, .75), hsl(128, 63%, 39%));
    filter:  saturate(120%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px hsla(122, 60%, 60%, 0.2);
    font-size: 1.3rem;
    font-weight: 550;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.proceed {
    display: flex;
    align-items: center;
    justify-content: center;
    background:repeating-linear-gradient(130deg, hsl(128, 81%, 20%), hsl(0, 0%, 0%), hsl(128, 81%, 20%));
    border-radius: 20%;
    height: 4rem;
    width: 9rem;
    margin: 2rem;
}

.proceed-play {
    width: 90%;
    height: 80%;
    border-radius: 15%;
    z-index: 30;
    border: .1rem solid hsl(0, 0%, 0%);
    background:repeating-linear-gradient(130deg, hsl(0, 0%, 0%), hsl(128, 81%, 20%), hsl(0, 0%, 0%));
    font-size: 1.3rem;
    border: .2rem double hsla(128, 81%, 20%, .6);
    color:hsla(0, 1%, 5%, 1);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .15rem;
    background-origin: content-box;
}

.return-home {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.back {
    background: inherit;
    color: hsl(128, 81%, 20%);
    border-radius: 50%;
    font-size: 2.5rem;
    width: 5rem; 
    height: 5rem;
}

@media screen and (min-width: 340px) and (max-width: 680px) and (orientation: landscape) {
    .seizure-box {
        overflow: hidden; /* M */
        position: absolute;
        left: 5%; /* M */
        width: 90%; /* M */
    }

    .mode-block {
        margin: .8rem; /* M */
        margin-bottom: .6rem; /* M */
        padding: .6rem; /* M */
        border-radius: 40% 20% 40% 20%;
    }

    .mode-title {
        font-weight: 650;
        font-size: 1.3rem; /* M */
        padding: 1.8rem;
    }

    .mode-about {
        font-size: 1.1rem;
        font-weight: 550;
    }

    .proceed {
        height: 3rem; /* M */
        width: 7rem; /* M */
        margin: 1rem 3rem;
    }
    
    .proceed-play {
        width: 90%;
        height: 80%;
        font-size: 1.3rem;
        border: .2rem double hsla(128, 81%, 20%, .6);
        color:hsla(0, 1%, 5%, 1);
        font-weight: 600;
        letter-spacing: .15rem;
    }
    
    .return-home {
        position: absolute;
        top: 1.4rem; /* M */
        left: 1.4rem; /* M */
    }
    
    .back {
        border-radius: 50%;
        font-size: 1.7rem; /* M */
        width: 3.4rem; /* M */
        height: 3.4rem; /* M */
    }

}

@media screen and (min-width: 681px) and (max-width: 940px) and (orientation: landscape) {
    .seizure-box {
        overflow: hidden; /* M */
        position: absolute;
        left: 10%; /* M */
        width: 80%; /* M */
    }

    .mode-block {
        margin: 3.2rem; /* M */
        margin-bottom: .6rem; /* M */
        padding: 1.6rem; /* M */
        border-radius: 40% 20% 40% 20%;
    }

    .mode-title {
        font-weight: 650;
        font-size: 3.3rem; /* M */ /* M */ 
        padding: 2.8rem;
        margin: .3rem;
    }

    .mode-about {
        font-size: 2.3rem;
        font-weight: 550;
        padding: .75rem;
    }

    .proceed {
        height: 4.5rem; /* M */
        width: 8rem; /* M */
        margin: 1rem 3rem;
    }
    
    .proceed-play {
        width: 90%;
        height: 80%;
        font-size: 1.3rem;
        border: .2rem double hsla(128, 81%, 20%, .6);
        color:hsla(0, 1%, 5%, 1);
        font-weight: 600;
        letter-spacing: .15rem;
    }
    
    .return-home {
        position: absolute;
        top: 1.4rem; /* M */
        left: 1.4rem; /* M */
    }
    
    .back {
        border-radius: 50%;
        font-size: 2.3rem; /* M */
        width: 4.6rem; /* M */
        height: 4.6rem; /* M */ 
        overflow: hidden; /* M */
        position: absolute;
        left: 5%; /* M */
        width: 90%; /* M */
    }

    .mode-block {
        margin: 1.2rem; /* M */
        margin-bottom: .6rem; /* M */
        padding: .6rem; /* M */
        border-radius: 40% 20% 40% 20%;
    }

    .mode-title {
        font-weight: 650;
        font-size: 1.3rem; /* M */
        padding: 1.8rem;
    }

    .mode-about {
        font-size: 1.1rem;
        font-weight: 550;
    }

    .proceed {
        height: 3.6rem; /* M */ /* M */ 
        width: 8rem; /* M */ /* M */ 
        margin: 1rem 3rem;
    }
    
    .proceed-play {
        width: 90%;
        height: 80%;
        font-size: 1.3rem;
        border: .2rem double hsla(128, 81%, 20%, .6);
        color:hsla(0, 1%, 5%, 1);
        font-weight: 600;
        letter-spacing: .15rem;
    }
    
    .return-home {
        position: absolute;
        top: 1.2rem; /* M */ /* M */
        left: 1.2rem; /* M */ /* M */
    }
    
    .back {
        border-radius: 50%;
        font-size: 2.3rem; /* M */ /* M */
        width: 4.6rem; /* M */ /* M */
        height: 4.6rem; /* M */ /* M */
    }

}


@media screen and (min-width: 941px) and (max-width: 1240px) and (orientation: landscape) {
    .seizure-box {
        overflow: hidden; /* M */
        position: absolute;
        left: 20%; /* M */
        width: 60%; /* M */
    }

    .mode-block {
        margin: 3.2rem; /* M */
        margin-bottom: .6rem; /* M */
        padding: 2.6rem; /* M */
        border-radius: 40% 20% 40% 20%;
    }

    .mode-title {
        font-weight: 650;
        font-size: 3.3rem; /* M */ /* M */ 
        padding: 2.8rem;
        margin: .3rem;
    }

    .mode-about {
        font-size: 2.7rem;
        font-weight: 550;
        padding: 1.75rem;
    }

    .proceed {
        height: 4.5rem; /* M */
        width: 8rem; /* M */
        margin: 1rem 3rem;
    }
    
    .proceed-play {
        width: 90%;
        height: 80%;
        font-size: 1.3rem;
        border: .2rem double hsla(128, 81%, 20%, .6);
        color:hsla(0, 1%, 5%, 1);
        font-weight: 600;
        letter-spacing: .15rem;
    }
    
    .return-home {
        position: absolute;
        top: 1.4rem; /* M */
        left: 1.4rem; /* M */
    }
    
    .back {
        border-radius: 50%;
        font-size: 2.3rem; /* M */
        width: 4.6rem; /* M */
        height: 4.6rem; /* M */ 
        overflow: hidden; /* M */
        position: absolute;
        left: 5%; /* M */
        width: 90%; /* M */
    }

    .mode-block {
        margin: 1.2rem; /* M */
        margin-bottom: .6rem; /* M */
        padding: 1.1rem; /* M */
        border-radius: 40% 20% 40% 20%;
    }

    .mode-title {
        font-weight: 650;
        font-size: 1.8rem; /* M */
        padding: 2.8rem;
    }

    .mode-about {
        font-size: 1.1rem;
        font-weight: 550;
    }

    .proceed {
        height: 5.2rem; /* M */ /* M */ 
        width: 13rem; /* M */ /* M */ 
        margin: 3rem 3rem;
    }
    
    .proceed-play {
        width: 90%;
        height: 80%;
        font-size: 1.3rem;
        border: .2rem double hsla(128, 81%, 20%, .6);
        color:hsla(0, 1%, 5%, 1);
        font-weight: 600;
        letter-spacing: .15rem;
    }
    
    .return-home {
        position: absolute;
        top: 1.6rem; /* M */ /* M */
        left: 1.6rem; /* M */ /* M */
    }
    
    .back {
        border-radius: 50%;
        font-size: 3.3rem; /* M */ /* M */
        width: 6.6rem; /* M */ /* M */
        height: 6.6rem; /* M */ /* M */
    }
}