@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-block__serie {

    //@include flexBox;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    margin: 2em 0;
    //background: #222;
    background-image: linear-gradient(0deg, #000, #111,  #272727, #111, #000);
    border: .1rem solid #333;
    border-radius: 5%;
    padding: 2.3em;
    box-shadow: 1em 2em 2.6em #111;

    &:hover {
        cursor: pointer;
        animation: borderHighlight 6s linear infinite;
    }

    @keyframes borderHighlight {
        0% {
            border-color: #333;
            box-shadow: 1em 2em 2.6em #111;
        }
        20% {
            border-color: #222 #333 #333 #222;
            box-shadow: .8em 1.5em 2.8em #222;

        }
        40% {
            border-color: #111 #444 #444 #111;
            box-shadow: .9em 1.8em 3em #222;

        }
        50% {
            border-color: #000 #555 #555 #000;
            box-shadow: 1em 2em 3.2em #333;

        }
        60% {
            border-color: #111 #444 #444 #111;
            box-shadow: .9em 1.8em 3em #222;

        }
        80% {
            border-color: #222 #333 #333 #222;
            box-shadow: .8em 1.5em 2.8em #222;
           // filter: contrast(120%);

        }
        100% {
            border-color: #333;
            box-shadow: 1em 2em 2.6em #111;
           // filter: contrast(100%);

        }
    }

    .serie-title {
        grid-row-start: 1;
        grid-column-start: 1;
        pointer-events: none;
        font-size: 2.5rem;
        //color: #ddd;
        white-space: nowrap;
        letter-spacing: .15em;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 650;

        background: -webkit-linear-gradient(135deg, #dddd, #dddd);
        filter: contrast(120%) saturate(120%); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: .2rem .2rem .3rem #ddd9;

        &::before {
            content: '«';
        }

        &::after {
            content: '»';
        }
        
        &:hover {
            opacity: .8;
        }
    }

    .serie-content {
        @include flexBox;
        flex-wrap: wrap;
        grid-row-start: 1;
        grid-column-start: 1;
        position: relative;
        gap: 1.5em;
        pointer-events: none;
    }

    .mode-block__serie__border {
        @include flexBox;
        pointer-events: auto;
        font-size: 1.3rem;
        background-image: linear-gradient(135deg, #ff0000, #ffff00, #00ff00, #0000ff, #fb0094);
        box-shadow: .1em .1em .7em #bbba;
        border-radius: 15%;
        padding: .2rem;
        z-index: 10;
        // Trick
        opacity: 0;
    }

    .bg-layer {
        background-image: radial-gradient(#444, #333, #222);
        box-shadow: inset .1em .1em 2.2em #111;
        grid-row-start: 1;
        grid-column-start: 1;
        border-radius: 15%;
        z-index: 20;
    }

    .mode-block__serie__tile {
        backface-visibility: hidden;
        display: grid;
        grid-template-columns: 1fr;
        transform-style: preserve-3d;
        transition: all 0.8s ease;

        &:hover {
            transform: rotateY(180deg);
        }
    }


    .mode-block__serie__level {
        grid-row-start: 1;
        grid-column-start: 1;
        color: #aaa;
        background-image: radial-gradient(#444, #333, #222);
        z-index: 40;

        &:hover {
            cursor: pointer;
        }
    }

    .mode-block__serie__back-side {
        z-index: 40;
        grid-row-start: 1;
        grid-column-start: 1;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition-property: all;
        background-image: radial-gradient(#444, #333, #222);
    }
}

.mode-block__serie__level, .mode-block__serie__back-side  {
    margin: .1em;
    padding: 1.7em;
    border-radius: 15%;
    box-shadow: inset .1em .1em 2.2em #111;
}

.invisible {
    display: none;
    visibility: hidden;
}