@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-block__serie {

    @include flexBox;
    margin: 2em 0;
    background: #222;
    background-image: linear-gradient(0deg, #000, #111,  #272727, #111, #000);
    border: .1rem solid #333;
    border-radius: 5%;
    padding: 2.3em;

    &:hover {
        cursor: pointer;
    }

    .serie-title {
        pointer-events: none;
        font-size: 1.5rem;
        color: #ddd;
    }

    .serie-content {
        @include flexBox;
        flex-wrap: wrap;
        position: relative;
        gap: 1.5em;
    }

    .mode-block__serie__border {
        @include flexBox;
        font-size: 1.3rem;
        background-image: linear-gradient(135deg, #ff0000, #ffff00, #00ff00, #0000ff, #fb0094);
        box-shadow: .1em .1em .7em #bbba;
        border-radius: 15%;
        padding: .2rem;
        z-index: 10;
    }

    .bg-layer {
        background-image: radial-gradient(#444, #333, #222);
        box-shadow: inset .1em .1em 2.2em #111;
        grid-row-start: 1;
        grid-column-start: 1;
        border-radius: 15%;
        z-index: 20;
    }

    .mode-block__serie__tile {
        backface-visibility: hidden;
        display: grid;
        grid-template-columns: 1fr;
        transform-style: preserve-3d;
        transition: all 0.8s ease;

        &:hover {
            transform: rotateY(180deg);
        }
    }


    .mode-block__serie__level {
        grid-row-start: 1;
        grid-column-start: 1;
        color: #aaa;
        background-image: radial-gradient(#444, #333, #222);
        z-index: 40;

        &:hover {
            cursor: pointer;
        }
    }

    .mode-block__serie__back-side {
        z-index: 40;
        grid-row-start: 1;
        grid-column-start: 1;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition-property: all;
        background-image: radial-gradient(#444, #333, #222);
    }
}

.mode-block__serie__level, .mode-block__serie__back-side  {
    margin: .1em;
    padding: 1.7em;
    border-radius: 15%;
    box-shadow: inset .1em .1em 2.2em #111;
}

.invisible {
    display: none;
}