.background_custom {
    background-color: hsl(122, 35%, 70%);
    background-image: repeating-linear-gradient(210deg, hsla(252, 50%, 40%, 0.8), hsla(142, 80%, 30%, 0.8), hsla(177, 50%, 40%, 0.8), hsla(142, 80%, 30%, 0.8), hsla(252, 50%, 40%, 0.8));
    filter: contrast(80%) brightness(125%);
}

.game_custom {
    box-sizing: border-box; 
}

.board_custom {
    box-sizing: border-box;
    gap: 0rem;
}