/* .board-3 {
    gap: 0rem;
} */

.fa-icon_custom {
    font-size: 1.4rem;
    filter: contrast(120%) saturate(120%);
}

.fa-icon_custom:nth-of-type(n) {
    color: hsla(252, 50%, 40%, 0.6);
}

.fa-icon_custom:nth-of-type(2n) {
    color: hsla(12, 50%, 40%, 0.6);
}

.tile_custom {
    border: 0.2rem solid hsla(142, 80%, 30%, 0.5);
    border: none;
    padding: 0.3rem;
    border-radius: 5%;
}

.tile-front_custom {
    filter: saturate(10%);
}

.tile_custom:nth-of-type(n) {
    background-image: linear-gradient(90deg, hsla(142, 80%, 30%, 0.6), hsla(252, 50%, 40%, 0.6));
}

.tile_custom:nth-of-type(2n) {
    background-image: linear-gradient(90deg, hsla(252, 50%, 40%, 0.6), hsla(142, 80%, 30%, 0.6));
}

.gd-level_custom, .gd-turns_custom, .gd-time_custom, .gd-score_custom  {
    text-shadow: 1px 1px 2px hsl(299, 30%, 40%), 0 0 1em hsl(55, 30%, 40%), 0 0 0.5em hsl(299, 30%, 40%);
    color: hsla(142, 80%, 50%, 0.5);
    font-style: oblique;
    font-weight: 700;
}