.t-1 {  /* Front size of card */
    border: .2rem solid hsl(4, 87%, 62%);
    background: hsl(4, 66%, 56%);
    margin: .5rem;
    border-radius: 10%;
}

.tf-1 { /* Have no clue what this class is for */
    background: hsl(4, 87%, 62%);
}

.tb-1 {  /* Back side of card */
    background: hsl(4, 87%, 62%);

}