.aContainer_custom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileType1 {
    border-color: lightgray;
}

.tileType2 {
    font-style: normal;
}

.fa-icon_custom {
    color: hsla(51, 84%, 53%, 0.8);
    font-size: 1.1rem;
}

.tile_custom {
    border: 0.1rem dashed #333;
    padding: 0.2rem;
    box-shadow: inset 0 0 0.4rem 0.2rem rgba(51, 51, 51, 0.4);
}

.tile-back_custom {
    box-shadow: inset 0 0 0.4rem 0.05rem rgba(51, 51, 51, 0.4);
}

.gd-level_custom, .gd-turns_custom, .gd-time_custom, .gd-score_custom {
    color: hsla(51, 84%, 53%, 0.8);
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 2rem hsl(51, 84%, 53%), 0.1rem 0.1rem 1rem hsl(34, 84%, 53%), 0.1rem 0.1rem 0.5rem #777;
}

.message {
    font-size: 5.2rem;
    font-weight: 650;
    background: linear-gradient(to right, hsl(124, 60%, 50%), hsl(166, 70%, 45%));
    text-shadow: .05em .05em hsla(166, 70%, 45%, .2), .05em .05em hsla(124, 60%, 50%, .2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.2rem;
    display: flex;
}

.message-box {
    box-sizing: border-box;
}

.letter {
/*     font-size: 2.2rem;
    box-shadow: 0 0 .2rem .3rem; */
    opacity: 0;
}

.dark-screen {
    font-size: 1rem;
    z-index: 350; /* can be any value from 301 to 399 */
    opacity: 0;
    box-shadow: inset 0 0 max(18vh, 18vw) max(18vh, 18vw);
    width: 100%;
    min-height: 100vh;
    position: absolute; top: 0%; left: 0%;
}