.background_custom {
    background-image: url('../resources/background.svg');
    background-color: hsl(0, 0%, 20%); 
    background-size: cover;
    box-shadow: inset 0 0 min(3vh, 3vw) min(2vh, 2vw) #333;
}

.game_custom {
    box-sizing: border-box;
    font-size: 1rem;
}

.board_custom  {
    font-size: 1rem;
    /* padding: -1em; */
    gap: .25em;
    border : .2em dotted hsla(0, 0%, 0%, .5);
    box-shadow: inset 0 0 2em #333;
    border-radius: 10%;
    padding: 2.5em 2.5em;
}